body{
	position: sticky;
	overflow-x: hidden;
	background-color: #eee;
	letter-spacing: unset;
	color: #3c4858;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size:large;
	line-height: normal;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;

}

.sidenav {
	height: 100%;
	position: relative;
	top: 0;
	left:0;
	background-color: #584b3c;
	overflow-x: hidden;
	transition: 0.6s;
	padding: 5px;
}l

.sidenav a {
	padding: 4px 4px 4px 4px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	transition: 0.3s;
	position:absolute;
	overflow:hidden;
}

sidenav a:hover {
	color: #3c5840;
}

.icon-bar {
	width: 90px;
	background-color:#584b3c;
}

.icon-bar a {
	display: block;
	text-align: left;
	padding:16px;
	transition:all o.3s ease;
	color: white;

}

.icon-bar a:hover {
	background-color: #000;
}


#main {
	transition: margin-left .5s;
	padding: 0px;
}